.clock {
  width: 200px;
  height: 200px;
  border: 8px solid #333;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  background: white;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background: #333;
  transform: rotate(0deg);
}

.hour {
  width: 6px;
  height: 50px;
  background: #000;
}

.minute {
  width: 4px;
  height: 70px;
  background: #555;
}

.second {
  width: 2px;
  height: 90px;
  background: red;
}

.center {
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}